extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .cold-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")
            .cold-md-7 
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu auctor ante. Duis luctus commodo bibendum. Integer egestas ipsum at sagittis blandit. Ut nisl ex, ultricies rhoncus venenatis nec, condimentum id urna. Sed lobortis eleifend diam, eu posuere odio condimentum vel. Vestibulum imperdiet aliquet sem id commodo. Donec ornare turpis vitae diam laoreet, at finibus ante tempus. Vestibulum et lorem suscipit, pharetra tortor at, lobortis nunc. Ut a convallis nisi.
                
                p Aenean neque libero, euismod non efficitur vel, auctor vitae sapien. Fusce rhoncus ipsum sit amet hendrerit condimentum. Nam tempor congue mauris, eu iaculis erat fermentum sit amet. Pellentesque a tempor orci. Nulla sit amet tempor est, sed mattis est. Cras lobortis, magna eu lacinia mollis, urna erat egestas ex, eget porta libero est eget nisl. Pellentesque vitae ornare neque, id malesuada metus. Nullam quis tempor erat. Duis vulputate, purus id ornare sollicitudin, quam tellus varius turpis, et porttitor mi lacus in velit. Sed est purus, semper tempor diam in, luctus suscipit dui. Vivamus dictum posuere commodo. Donec efficitur quis lacus vel tincidunt.
                
                p Cras non laoreet urna, eget dignissim dolor. Integer vitae ligula a quam efficitur bibendum. Pellentesque lacinia leo sodales enim pharetra, vitae placerat eros facilisis. Curabitur vel velit sagittis, scelerisque felis id, vestibulum tortor. Pellentesque vestibulum eu neque in dictum. Cras sit amet nisl finibus, hendrerit metus id, pellentesque lorem. Quisque in lacus venenatis, ornare neque a, accumsan leo. Phasellus fermentum, nunc ac venenatis accumsan, ipsum ipsum tristique nibh, vitae aliquet odio mauris a libero. 


    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .cold-md-4
                    img(src="img/icono_seguridad.svg",alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Cras non laoreet urna, eget dignissim dolor. Integer vitae ligula a quam efficitur bibendum. Pellentesque lacinia leo sodales enim pharetra, vitae placerat eros facilisis. Curabitur vel velit sagittis, scelerisque felis id, vestibulum tortor. Pellentesque vestibulum eu neque in dictum. Cras sit amet nisl finibus, hendrerit metus id, pellentesque lorem. Quisque in lacus venenatis, ornare neque a, accumsan leo. Phasellus fermentum, nunc ac venenatis accumsan, ipsum ipsum tristique nibh, vitae aliquet odio mauris a libero. 

                .cold-md-4
                    img(src="img/icono_destinos.svg",alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Cras non laoreet urna, eget dignissim dolor. Integer vitae ligula a quam efficitur bibendum. Pellentesque lacinia leo sodales enim pharetra, vitae placerat eros facilisis. Curabitur vel velit sagittis, scelerisque felis id, vestibulum tortor. Pellentesque vestibulum eu neque in dictum. Cras sit amet nisl finibus, hendrerit metus id, pellentesque lorem. Quisque in lacus venenatis, ornare neque a, accumsan leo. Phasellus fermentum, nunc ac venenatis accumsan, ipsum ipsum tristique nibh, vitae aliquet odio mauris a libero. 

                .cold-md-4
                    img(src="img/icono_precios.svg",alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    p Cras non laoreet urna, eget dignissim dolor. Integer vitae ligula a quam efficitur bibendum. Pellentesque lacinia leo sodales enim pharetra, vitae placerat eros facilisis. Curabitur vel velit sagittis, scelerisque felis id, vestibulum tortor. Pellentesque vestibulum eu neque in dictum. Cras sit amet nisl finibus, hendrerit metus id, pellentesque lorem. Quisque in lacus venenatis, ornare neque a, accumsan leo. Phasellus fermentum, nunc ac venenatis accumsan, ipsum ipsum tristique nibh, vitae aliquet odio mauris a libero. 